
<article class="br3 ba dark-gray b--black-10 w-100 h-100 flex flex-column">
  <img [src]="project.img" class="w-100 br2 br--top cover-fit h-third" [alt]="project.desc">

  <div class="pa4 pa3-ns flex flex-column h-two-thirds">
    <div class="flex">
      <div class="w-75 ma0">
        <h2 class="f4 ma0">{{project.name}}</h2>
      </div>
        <h2 class="f5 w-25 ma0 tr">
        <a [href]="project.web" class="f5 link blue hover-silver" target="_blank"
           referrerpolicy="no-referrer">@see</a></h2>
    </div>

    <p class="f5 f6-m lh-copy measure measure-narrow-m mt2 mid-gray">
      {{project.desc}}
    </p>

    <h5 class="mb1">Stack:</h5>
    <ul class="list pa0 ma0 lh-copy flex-auto-m" *ngIf="project.techs">
      <li *ngFor="let t of project.techs">{{t}}</li>
    </ul>
  </div>

</article>
