/* You can add global styles to this file, and also import other style files */

:root {
  --one-color: #e6cd84;
  --two-color: #ed9017;

  body {
    background: linear-gradient(to bottom right, var(--one-color) 0%, var(--two-color) 100%);
  }
}
